registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=
strict-ssl=false
legacy-peer-deps=true
git-checks=false
git-protocol=https
//github.com/:_authToken=
//github.com/:protocol=https
//github.com/:always-auth=false
//github.com/:username=
//github.com/:password=
//github.com/:token=
//github.com/:email=
//github.com/:name=
//github.com/:url=https://github.com/
//github.com/:git-protocol=https
//github.com/:git-checks=false
//github.com/:strict-ssl=false
//github.com/:legacy-peer-deps=true
